<a href="https://colab.research.google.com/github/TheDerik/Data-Science-intern-at-Celebal-Technologies/blob/main/Week_1_COE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 1 : Submitted by Debrik Chakraborty**

Create lower triangular, upper triangular and pyramid containing the "*" character.

In [ ]:
n = 5
for i in range(n):
    print("*" * (i + 1))

*
**
***
****
*****

In [ ]:
n = 5
for i in range(n):
    print(" " * i + "*" * (n - i))

*****
 ****
  ***
   **
    *

In [ ]:
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "*" * (2 * i + 1))

    *
   ***
  *****
 *******
*********